body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items:center;
    background:linear-gradient(to right, rgb(35, 173, 227), white);
}

.a1{
    display: flex;
    gap: 20px;
}

h2{
    width:200px;
    color: rgb(16, 156, 211);
}

h1{
    color: rgb(16, 156, 211);
    text-align: center;
}

input{
    width: 220px;
    height: 25px;
}

#btna{
    width: 40px;
    height: 31px;
    border: 1px solid rgb(16, 156, 211);
    color: rgb(16, 156, 211);
    background-color: white;
}

.a2{
    width: 50px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(16, 156, 211);
    translate: 0px 20px;
}

#o1, #o2{
    border: none;
}
